html{
    height: 100%;
    background: radial-gradient(circle, rgb(182, 157, 157),rgb(159, 187, 159));
    background: -webkit-radial-gradient(circle, rgb(182, 157, 157),rgb(159, 187, 159));
    background: -o-radial-gradient(circle, rgb(182, 157, 157),rgb(159, 187, 159));
    background: -moz-radial-gradient(circle, rgb(182, 157, 157),rgb(159, 187, 159));
}


#container{
    height: 405px;
    width: 550px;
    background:linear-gradient(rgb(182, 194, 155),rgb(101, 139, 101));
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 0px 0px rgb(73, 99, 73, 0.8);
    -moz-box-shadow: 3px 4px 0px 0px rgb(73, 99, 73, 0.8);
    -webkit-box-shadow: 3px 4px 0px 0px rgb(73, 99, 73, 0.8);
    position: relative;
}


#score{
    background-color: rgb(191, 223, 77);
    box-shadow: 2px 2px rgb(52, 116, 37, 0.8);
    -moz-box-shadow: 2px 2px rgb(52, 116, 37, 0.8);
    -webkit-box-shadow: 2px 2px rgb(52, 116, 37, 0.8);
    width: 60px;
    text-align: center;
    padding: 10px;
    float: right;
    /*position: absolute;
    left: 530px;*/
}

#correct{
    width:60px;
    padding: 10px;
    text-align: center;
    background-color: rgb(88, 163, 88);
    border-radius: 2px;
    left: 260px;
    position: absolute;
    color: beige;
    display: none;
}

#wrong{
    width:60px;
    padding: 10px;
    text-align: center;
    background-color: rgb(196, 58, 58);
    border-radius: 2px;
    left: 260px;
    position: absolute;
    color: beige;
    display: none;
    
}

#question{

    width: 450px;
    height: 150px;
    background: linear-gradient(rgb(158, 140, 140),rgb(216, 193, 130));
    box-shadow: 0px 3px rgb(173, 108, 108, 0.8);
    -moz-box-shadow: 0px 3px rgb(173, 108, 108, 0.8);
    -webkit-box-shadow: 0px 3px rgb(173, 108, 108, 0.8);
    margin: 50px auto 10px auto;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: brown;

}

#instruction{

    width: 450px;
    height: 40px;
    background: linear-gradient(rgb(118, 192, 161),rgb(101, 99, 139));
    box-shadow: 0px 3px rgb(54, 37, 117, 0.8);
    -moz-box-shadow: 0px 3px rgb(54, 37, 117, 0.8);
    -webkit-box-shadow: 0px 3px rgb(54, 37, 117, 0.8);
    margin: 10px auto;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: cursive, sans-serif;

}

#options{
    height: 100px;
    width: 450px;  
    margin: 10px auto;

}

.option{
    width:85px;
    height: 85px;
    background-color: rgb(223, 202, 202);
    box-shadow: 0px 4px rgb(90, 54, 54, 0.8);
    -moz-box-shadow: 0px 4px rgb(90, 54, 54, 0.8);
    -webkit-box-shadow: 0px 4px rgb(90, 54, 54, 0.8);
    float: left;
    margin-right: 36px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    line-height: 83px;
    font-family: sans-serif;
    color: rgb(63, 24, 24);
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}
.option:hover{
    background-color: rgb(236, 201, 159);
    box-shadow: 0px 4px rgb(141, 75, 75, 0.8);
    -moz-box-shadow: 0px 4px rgb(141, 75, 75, 0.8);
    -webkit-box-shadow: 0px 4px rgb(141, 75, 75, 0.8);
    color: rgb(196, 7, 7);
}
.option:active{
    box-shadow: 0px 0px rgb(90, 54, 54);
    top:4px;
}

#option4{
    margin-right: 0;
}

#startreset{
    width:85px;
    background-color: rgb(223, 202, 202);
    box-shadow: 0px 4px rgb(90, 54, 54, 0.8);
    -moz-box-shadow: 0px 4px rgb(90, 54, 54, 0.8);
    -webkit-box-shadow: 0px 3px rgb(90, 54, 54, 0.8);
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 10px;
    color: rgb(34, 13, 13);
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#startreset:hover{
    background-color: rgb(110, 157, 179);
    box-shadow: 0px 4px rgb(40, 55, 75, 0.8);
    -moz-box-shadow: 0px 4px rgb(40, 55, 75, 0.8);
    -webkit-box-shadow: 0px 4px rgb(40, 55, 75, 0.8);
    color: azure;
}

#startreset:active{
    box-shadow: 0px 0px rgb(70, 81, 95);
    top:4px;
}

#timeremaining{
    width: 140px;
    padding: 10px;
    position: absolute;
    top:400px;
    left:410px;
    background-color: rgb(238, 209, 172);
    border-radius: 2px;
    box-shadow: 2px 4px rgb(97, 82, 61, 0.8);
    -moz-box-shadow: 2px 4px rgb(97, 82, 61, 0.8);
    -webkit-box-shadow: 2px 4px rgb(97, 82, 61, 0.8);
    /* visibility: hidden; */
    display: none;
}

#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(rgb(202, 173, 109),rgb(196, 104, 50));
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
    position: absolute;
    top: 95px;
    left: 45px;
    z-index: 2;
    display: none;
}